main {
    display: flex;
    justify-content: center;
    background-color: rgb(41, 37, 37);
}

.card {
    border-radius: 10px;
    background-color: rgb(224, 32, 71);
    box-shadow: 0px 10px 10px 10px rgb(167, 39, 39);
    width: 50%;
    height: 100%;
}

@media screen and (max-width:974px) {
    .card {
        width: max-content;
        height: max-content;
    }
}


.poke-light-border {
    display: flex;
    justify-content: center;
}


.poke-lights {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border-bottom-right-radius: 80px;
    box-shadow: 0 10px 10px black;
    background-color: rgb(192, 22, 22);
    display: flex;
    align-items: center;
}

.light-1-1 {
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 40px;
    box-shadow: inset 0 0 10px rgb(33, 62, 72);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vh;
    margin-right: 1vh;
}

.light-1 {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    background-color: rgb(6, 170, 240);
    border-radius: 30px;
    box-shadow: inset 0 0 10px rgb(33, 62, 72);
}

.light-2 {
    width: 30px;
    height: 30px;
    border: 4px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgb(255, 255, 255);
}

.light-3 {
    width: 30px;
    height: 30px;
    border: 4px solid black;
    background-color: rgb(255, 213, 0);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgb(255, 255, 255);
}

.light-4 {
    width: 30px;
    height: 30px;
    border: 4px solid black;
    background-color: rgb(136, 255, 0);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgb(255, 255, 255);
}

.poke-info-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-left: 4vh;
    /* margin-top: 14vh; */
}
@media screen and (max-width:500px) {
    .poke-info-card{
        margin-right: 4vh;
    }
}

.image-border {
    width: 400px;
    height: 600px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    border-bottom-left-radius: 70px;

}

.image-light {
    display: flex;
    justify-content: center;
}

.image-light-1 {
    width: 20px;
    height: 20px;
    border: 4px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(234, 56, 56);
}

.image-light-2 {
    width: 20px;
    height: 20px;
    border: 4px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(234, 56, 56);
}

.image-light-3 {
    width: 20px;
    height: 20px;
    border: 4px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(234, 56, 56);
}

.image-light-4 {
    width: 20px;
    height: 20px;
    border: 4px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(234, 56, 56);
}

.image-light-5 {
    width: 20px;
    height: 20px;
    border: 4px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(234, 56, 56);
}

.image-light-6 {
    width: 20px;
    height: 20px;
    border: 4px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(234, 56, 56);
}

.image-light-7 {
    width: 20px;
    height: 20px;
    border: 4px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(234, 56, 56);
}

.image-light-8 {
    width: 20px;
    height: 20px;
    border: 4px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(234, 56, 56);
}

.image-light-9 {
    width: 20px;
    height: 20px;
    border: 4px solid black;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(234, 56, 56);
}

.poke-info {
    width: 100%;
    height: 90%;
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 30px;

}

.dash {
    margin-top: 0.5vh;
    display: flex;
    justify-content: right;

}

.dash-1 {
    width: 70px;
    height: 5px;
    background-color: black;
}

.dash-2 {
    width: 70px;
    height: 5px;
    background-color: black;
}

.dash-3 {
    width: 70px;
    height: 5px;
    background-color: black;
}

.dash-4 {
    width: 70px;
    height: 5px;
    background-color: black;
}

.left-right-up-down {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2vh;
}

.button-1 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    box-shadow: 10px 10px 10px black;
    font-size: 30px;
    border-radius: 10px;
}

.button-2 {
    position: relative;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    box-shadow: 10px 10px 10px black;
    font-size: 30px;
    border-radius: 10px;
}

.button-3 {
    position: relative;

    width: 50px;
    height: 50px;
    background-color: blueviolet;
    box-shadow: 10px 10px 10px black;
    font-size: 30px;
    border-radius: 10px;
}

.button-4 {
    position: relative;
    top: 50px;
    right: 95px;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    box-shadow: 10px 10px 10px black;
    font-size: 30px;
    border-radius: 10px;
}

/* @media screen and (max-width:1629px) {
    .button-4 {
        right: 10.35vh;
        top: 3vh;
    }

} */

@media screen and (max-width:1629px) {
    .left-right-up-down {
        margin-top: 8vh;
        margin-bottom: 4vh;
    }

}

.middle-gap-1 {
    width: 100%;
    height: 10px;
    background-color: rgb(219, 24, 92);

}

.middle-gap-2 {
    width: 100%;
    height: 10px;
    background-color: rgb(219, 148, 24);

}

.middle-gap-3 {
    width: 100%;
    height: 10px;
    background-color: rgb(219, 24, 92);

}

.middle-gap-4 {
    width: 100%;
    height: 10px;
    background-color: rgb(56, 5, 118);

}

.bottom-card {
    margin-top: 2vh;
}

.search-bar {
    text-align: center;
}

.search-bar input {
    width: 80%;
    height: 80px;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 92, 92);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    box-shadow: 10px 10px 10px black;
    margin-bottom: 3vh;
    border-radius: 20px;
}

.search-clear-light {
    text-align: center;
}

.search-clear-light button {
    box-shadow: 10px 10px 10px black;
}


.search-light {
    width: 30px;
    height: 30px;
    border: 4px solid black;
    background-color: rgb(255, 225, 0);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgb(255, 255, 255);
    float: right;
    margin-right: 6vh;
}


.bottom-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom-bar div {
    width: 40%;
    height: 30px;
    background-color: rgb(33, 17, 47);
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vh;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 19vh;
    margin-right: 19vh;
    margin-bottom: 2vh;
}

@media screen and (max-width:600px) {
    .keyboard {
        margin-left: 0;
        margin-right: 0;
    }
}

.keyboard .letter-button {
    margin-right: 0.5vh;
    margin-bottom: 0.5vh;
    background-color: rgb(61, 46, 46);
    color: rgb(255, 255, 255);
}

li {
    list-style-type: none;
    border: 2px solid rgb(34, 147, 152);
    margin-bottom: 1vh;
    margin-top: 1vh;
    /* box-shadow:  0px 10px 0px 10px rgb(53, 59, 63); */
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 3vh;
}


.single-poke-info li {
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(75, 73, 73);
}

.letter-button {
    box-shadow: 10px 10px 10px black
}


.info-main::-webkit-scrollbar {
    display: none;
}

.clear-input:hover {
    background-color: rgb(230, 230, 108);

}

.pokemon-list-parent li {
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 0.3s;
    background: linear-gradient(#afd7f2,#a0a6f3 );
    
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
        left: 5vh;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        left: 0vh;
    }
}

.pokemon-list-parent li:hover {
    background: linear-gradient(#f2afd0,#ffe4f1 );
    transform: scale(1.05);
    cursor: pointer;
}